.card{
    width: 10rem;
    background-color: black;
    text-align: left;
    height: 20rem;
    color: white;
    
}
.card :hover {
    background-color: #3A3845;
    
}
.innercard{
    text-align: center;
}
img{
   
    height: 8rem;
    width:8rem;
}
.imgdiv{
    text-align: center;
}

.cardmaindiv{
    display: inline-block;
    margin: 2% 3%;
}

p{
    text-align: center;
}
.buttondiv{
    text-align: center;
}